<h1>Welcome to {{hotelName}}</h1>
<button (click)="toggle()">{{hideRooms ? "Show" : "Hide"}} Rooms</button>
<div [hidden]="hideRooms">
    Number of rooms available:<span [innerText]="rooms.availableRooms"></span>
</div>


@if (rooms.availableRooms > 0 && !hideRooms) {
<div>
    Room List
    <table>
        <tr>
            <th>{{"Even Or Odd" | titlecase}}</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Amenities</th>
            <th>Price</th>
            <th>Checkin Time</th>
            <th>Checkout Time</th>
        </tr>
        @for (room of roomlist | slice :0:2 ; track room; let e = $even) {
        <tr [class.even]="e" [class.odd]="!e">
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.amenities}}</td>
            <td>{{room.price | currency : "EGP" : "L.E"}}</td>
            <td>{{room.checkinTime | date : "short"}}</td>
            <td>{{room.checkoutTime
                | date :"medium"}}</td>
        </tr>
        }
    </table>

</div>
}
@else {
<div>There is no available rooms</div>
}