.even {
  background: linear-gradient(60deg, #abecd6, #fbed96);
}
.odd {
  background: linear-gradient(60deg, #4facfe, #03494d);
}
td {
  padding: 2px;
  margin: 0px;
  transition: transform 0.5s ease-in-out;
  border: 3px solid black;
}
th {
  border: 2px solid black;
}
